<main class="landing">
    <b>EV Stuidos Junior Frontend Developer Assigment</b>
    <br><br>
    <div class="links">
        <a routerLink="news" mat-raised-button>
            <mat-icon>list_alt</mat-icon>
            News
        </a>

        <a routerLink="mobile-phone"  mat-raised-button>
            <mat-icon>smartphone</mat-icon>
           Show Mobile Phone
        </a>
    </div>
    <br><br>
    <p style="color: gainsboro;">Developed By Arvind Kumar || Email : 1432avikant@gmail.com</p>
</main>